.App {
  text-align: center;
}

.app-container{
  width: 100vw;
  height: 100vh;
}

.slider-container{
  position: relative;
  width: 100%;
  height: 300%;
}

.slider-item{
  display: flex;
}

.slider-item img{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.slider-text{
  position: fixed;
  bottom: 0;
  color: #ffffff;
}
.slider-text h2{
  font-size: 1.5em;
}
.slider-text p{
  font-size: 1em;
}

.controls{
  position: fixed;
  left: 0;
  top: 50%;
  display: flex;
  flex-direction: column;
}
.controls button{
  width: 40px;
  height: 40px;
  margin: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  cursor: pointer;
}
.controls button svg{
  width: 20px;
  stroke: #212121;
}