.App {
  text-align: center;
}

.app-container{
  width: 100vw;
  height: 100vh;
}

.slider-container{
  width: 100%;
  height: 400%;
  transition: all 500ms;
}

.slider__item{
  display: flex;
  position: absolute;
}
.slider__item img{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.caption{
  position: fixed;
  bottom: 0;
  color: #ffffff;
  background-color: #2121217c;
  padding: 0.5em 1.5em;
  width: 50%;
}
.caption__title{
  font-size: 1.5em;
}
.caption__desc{
  font-size: 1em;
}